.header{
    margin-bottom: 50px;
    padding: 20px;
    background-color: purple;
    background-image:url(../../../public/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}