.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    gap: 20px;
    padding: 30px;
}
/* .spell{
    overflow: auto;
} */


.scroller {
    height: 200px;
    overflow-y: scroll;
    scrollbar-color: black;
    scrollbar-width: thin;
}
.spellcontainer{
    padding: 15px;
    border-radius: 15px;
    background-color: aliceblue;
}
.circleheader{
    width: min-content;
    padding: 7px;
    border-radius: 50px;
    background-color: crimson;
}
.spellheader{
    padding: 7px;
}
.flexspell{
    display: flex;
    gap: 20px;
}
.spelldescription{
    margin-top: 0px;
}