.taskcompcontainer *{
    margin: 0px;
}
.taskcompcontainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.gridcontainertasks{
    display: grid;
    padding: 20px;
    grid-auto-columns: 2fr 1fr;
    grid-template-areas:
    'tasks tasks progress'
    'tasks tasks completedlist';
    gap: 20px;
}