.navbox{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: aqua;
    padding: 80px 0px 150px 20px;
}
.avatar{
    height: 100px;
    width: 100px;
    border-radius: 25px;
}