.navbox{
    position: fixed;
    top: 20px;
    left: 10px;
    display: flex;
    flex-direction: column;
    width: 120px;
    background-color: aqua;
    height: 90%;
    border-radius: 20px;
}
.avatar{
    height: 100px;
    width: 100px;
    border-radius: 25px;
}