.navbox{
    position: fixed;
    top: 150px;
    left: 10px;
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: aqua;
    padding: 120px 0px 175px 20px;
    border-radius: 20px;
}
.avatar{
    height: 100px;
    width: 100px;
    border-radius: 25px;
}